{% extends 'base.html' %}

{% block content %}
<p class="cuidang">{{ user.name }}</p>
<p>{{  movies|length  }} Titles</p>
<ul class="movie-list">
    {% for movie in movies %}
    <li>{{ movie.title }} - {{ movie.year }}
        <span class="float-right">
            <a class="imdb" href="http://localhost:5000/{{movie.year}}" target="_blank" title="Find this movie on IMDb">点击进入</a>
        </span>
    </li>
    {% endfor %}
</ul>
<img alt="tank" class="tank" src="{{ url_for('static',filename='images/a.gif') }}" title="坦克！">
{% endblock %}